.logo-fixed {
    position: fixed;
    top: 20px;
    left: 24px;
    z-index: 1000;
}

.logo-fixed img {
    width: 95px;        /* desktop size */
    height: auto;
}

/* Tablet */
@media (max-width: 1024px) {
    .logo-fixed img {
        width: 80px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .logo-fixed {
        top: 12px;
        left: 12px;
    }

    .logo-fixed img {
        width: 60px;
    }
}
